<% provide(:title, @content_news_item.title) %>

<div class="blog margin-bottom-40">
	<h2><%= yield(:title) %></h2>

  <div class="blog-post-tags">
		<ul class="list-unstyled list-inline blog-info">
			<li><i class="fa fa-calendar"></i> <%= I18n.l(@content_news_item.published_at.to_date, format: :long) %></li>
		</ul>
		<%# <ul class="list-unstyled list-inline blog-tags">
			<li>
				<i class="fa fa-tags"></i>
				<a href="#">Technology</a>
				<a href="#">Education</a>
				<a href="#">Internet</a>
				<a href="#">Media</a>
			</li>
		</ul> %>
	</div>

  <% if @content_news_item.image.present? %>
  <div class="blog-img">
    <%= image_tag @content_news_item.image_url(), class: "img-responsive" %>
	</div>
  <% end %>

  <% unless @content_news_item.intro.blank? %>
  <div class="lead">
    <%= markdown(@content_news_item.intro).html_safe %>
  </div>
  <% end %>

  <%= markdown(@content_news_item.body).html_safe %>

</div>

<% content_for :sidebar do %>
  <%= render "sidebar_recent" %>
<% end %>
