<h2><%= yield(:title) %></h2>

<p>
  <small>
    <i class="fa fa-calendar-o mr-05"></i><%= I18n.l(agenda_item.starts_at, format: :long) %>
    <% unless agenda_item.ends_at.blank? %>
      - <%= I18n.l(agenda_item.ends_at, format: :long) %>
    <% end %>
    <% unless agenda_item.location.nil? %>
      <i class="fa fa-map-marker mr-05 ml-10"></i><%= agenda_item.location.name %>, <%= agenda_item.location.city %>
    <% end %>
  </small>
</p>

<% unless agenda_item.intro.blank? %>
<div class="lead">
  <%= markdown(agenda_item.intro).html_safe %>
</div>
<% end %>

<%= markdown(agenda_item.body).html_safe unless agenda_item.body.blank? %>

<% unless agenda_item.content_page.nil? %>
  <p>
    Lees meer: <%= link_to agenda_item.content_page.title, "/#{agenda_item.content_page.url}" %>
  </p>
<% end %>

<% unless agenda_item.location.nil? %>
<p>
  Locatie: <%= agenda_item.location.name %>, <%= agenda_item.location.city %>
</p>
<% end %>

<% unless agenda_item.price.nil? %>
<p>
  Prijs: <%= number_to_currency agenda_item.price %>
</p>
<% end %>

<% unless agenda_item.external_url.blank? %>
<p>
  <%= link_to "Meer info of aanmelden", agenda_item.external_url, target: "_blank" %>
</p>
<% end %>
