<tr>
  <td>
    <% if content_page.menu_visible? %>
    <i class="fa fa-list"></i>
    <% end %>
  </td>
  <td>
    <%= link_to content_page.url, [:admin, content_page] %>
  </td>
  <td>
    <%= content_page.title %>
  </td>
  <td>
    <%= markdown(content_page.intro).html_safe %>
  </td>
  <td>
    <%= link_to edit_admin_content_page_path(content_page), title: "Bewerken" do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
  </td>
  <td>
    <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, [:admin, content_page],
      method: :delete, title: "Verwijderen",
      data: { confirm: "Weet je het zeker?" },
      class: 'ml-10' %>
  </td>
</tr>
