<% provide(:title, "Pagina aanpassen") %>

<h1><%= yield(:title) %></h1>

<%= horizontal_form [:admin, @content_page] do |f| %>
  <%= render 'fields', f: f %>

  <div class="form-actions col-sm-offset-3">
    <%= f.button :submit, 'Bijwerken' %>
    <%= link_to 'Annuleren', admin_content_pages_path, class: "btn-u btn-u-default" %>
  </div>
<% end %>

<% content_for :sidebar do %>
<div class="posts margin-bottom-40 footer-v2">
  <div class="headline headline-md">
    <h2>Plaatjes</h2>
  </div>

  <ul class="list-unstyled blog-latest-posts">
    <% @content_page.content_images.each do |content_image| %>
      <li>
        <%= link_to content_image.image_url.to_s, target: "_blank" do %>
          <%= image_tag content_image.image_url(:thumb).to_s %>
          <div><%= content_image.name %></div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <p>
    Plaatjes toevoegen kan op de volgende pagina, klik daarvoor eerst op "Bijwerken".
  </p>
</div>
<% end %>
