<% provide(:title, "Pagina #{@content_page.url}") %>

<div class="action_bar_right mt-10">
  <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_content_page_path(@content_page), class: "btn-u btn-u-default", title: "Aanpassen" %>
</div>

<h1>
  <%= yield(:title) %>
</h1>

<div class="row form-horizontal">
  <label class="col-sm-3 control-label">URL</label>
  <p class="col-sm-9 form-control-static">
    <%= @content_page.url %>
  </p>

  <label class="col-sm-3 control-label">Titel</label>
  <p class="col-sm-9 form-control-static">
    <%= @content_page.title %>
  </p>

  <% unless @content_page.menu_title.blank? %>
  <label class="col-sm-3 control-label">Titel in menu</label>
  <p class="col-sm-9 form-control-static">
    <%= @content_page.menu_title %>
  </p>
  <% end %>

  <% unless @content_page.intro.blank? %>
  <label class="col-sm-3 control-label">Inleiding</label>
  <div class="col-sm-9 form-control-static">
    <%= markdown(@content_page.intro).html_safe %>
  </div>
  <% end %>

  <label class="col-sm-3 control-label">Inhoud</label>
  <div class="col-sm-9 form-control-static">
    <%= markdown(@content_page.body).html_safe %>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render "admin/content_images/sidebar_list", imageable: @content_page %>
<% end %>
