<tr>
  <td>
    <%= link_to content_image.name, [:admin, content_image] %>
  </td>
  <td>
    <%= image_tag content_image.image_url(:thumb).to_s %>
  </td>
  <td>
    <%= link_to  content_image.imageable.title, [:admin, content_image.imageable] unless content_image.imageable.nil? %>
  </td>
  <td>
    <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_content_image_url(content_image) %>
    <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, [:admin, content_image],
      method: :delete, title: "Verwijderen",
      data: { confirm: "Weet je het zeker?" },
      class: 'ml-10' %>
  </td>
</tr>
