<div class="col-sm-offset-3">
  <%= render 'shared/error_messages', object: f.object %>
</div>

<%= f.input :name %>
<%= f.input :phone %>
<%= f.input :email %>
<%= f.input :zip %>
<%= f.input :address %>
<%= f.input :city %>
<%= f.input :country %>

<%= f.input :accepts, as: :boolean, checked_value: true, unchecked_value: false, required: false, label: "Ik ga akkoord met de algemene voorwaarden
" %>
