<% provide(:title, "Nieuwsbericht aanpassen") %>

<h1><%= yield(:title) %></h1>

<%= horizontal_form [:admin, @content_news_item] do |f| %>
  <%= render 'fields', f: f %>

  <div class="form-actions col-sm-offset-3">
    <%= f.button :submit, 'Bijwerken' %>
    <%= link_to 'Annuleren', admin_content_news_items_path, class: "btn-u btn-u-default" %>
  </div>
<% end %>
