<% provide(:title, "Agenda item #{@agenda_item.title}") %>

<div class="action_bar_right mt-10">
  <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_agenda_item_path(@agenda_item), class: "btn-u btn-u-default", title: "Aanpassen" %>
</div>

<h1>
  <%= yield(:title) %>
</h1>

<div class="row form-horizontal">
  <%= label_tag_for_show @agenda_item, :date %>
  <p class="col-sm-9 form-control-static">
    <%= @agenda_item.starts_at %>
    <% unless @agenda_item.ends_at.blank? %>
      - <%= @agenda_item.ends_at %>
    <% end %>
  </p>

  <%= label_tag_for_show @agenda_item, :title %>
  <p class="col-sm-9 form-control-static">
    <%= @agenda_item.title %>
  </p>

  <% unless @agenda_item.intro.blank? %>
  <%= label_tag_for_show @agenda_item, :intro %>
  <div class="col-sm-9 form-control-static">
    <%= markdown(@agenda_item.intro).html_safe %>
  </div>
  <% end %>

  <%= label_tag_for_show @agenda_item, :body %>
  <div class="col-sm-9 form-control-static">
    <%= markdown(@agenda_item.body).html_safe %>
  </div>

  <% unless @agenda_item.price.blank? %>
  <%= label_tag_for_show @agenda_item, :price %>
  <div class="col-sm-9 form-control-static">
    <%= number_to_currency @agenda_item.price %>
  </div>
  <% end %>

  <% unless @agenda_item.external_url.blank? %>
  <%= label_tag_for_show @agenda_item, :external_url %>
  <p class="col-sm-9 form-control-static">
    <%= @agenda_item.external_url %>
  </p>
  <% end %>

  <% unless @agenda_item.content_page.nil? %>
  <%= label_tag_for_show @agenda_item, :content_page %>
  <p class="col-sm-9 form-control-static">
    <%= link_to @agenda_item.content_page.title, '/' + @agenda_item.content_page.url %>
  </p>
  <% end %>

  <% unless @agenda_item.location.nil? %>
  <%= label_tag_for_show @agenda_item, :location %>
  <div class="col-sm-9 form-control-static">
    <div><%= @agenda_item.location.name %></div>
    <div><%= @agenda_item.location.address %></div>
    <div><%= @agenda_item.location.city %></div>
    <div><%= @agenda_item.location.zip %></div>
    <div><%= @agenda_item.location.phone %></div>
  </div>
  <% end %>

</div>

<% content_for :sidebar do %>
  <%= render "admin/content_images/sidebar_list", imageable: @agenda_item %>
<% end %>
