<% provide(:title, "Aanmeldingen voor #{@agenda_item.title}") %>

<h1><%= yield(:title) %></h1>

<table class="table">
  <thead>
    <tr>
      <%= label_tag_for_index Registration, :name %>
      <%= label_tag_for_index Registration, :created_at %>
      <%= label_tag_for_index Registration, :invoice_sent_at %>
      <%= label_tag_for_index Registration, :paid_for_at %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @registrations %>
  </tbody>
</table>
