<div id="banner" class="banner clearfix">
  <div class="slideshow">
    <div class="slider-banner-container">
      <div class="slider-banner-fullwidth">
        <ul class="slides">
          <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Vitaliteit">
            <img src="<%= asset_path 'slider/vitality.jpg' %>" alt="slidebg2" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover">
            <div class="tp-caption" data-x="center" data-y="bottom" data-speed="600" data-start="600">
            </div>
            <div class="tp-caption sfb fadeout text-right dark-translucent-box" data-x="right" data-y="260" data-speed="500" data-start="1000" data-easing="easeOutQuad">
              <div class="large_white">
                Vitaliteit
              </div>
              <hr />
              <div class="medium_white">
                Vitaliteit is een cadeau dat je nu aan jezelf geeft om later uit te pakken.
              </div>
            </div>
          </li>

          <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Sporten en bewegen">
            <img src="<%= asset_path 'slider/kettlebell.jpg' %>" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover">
            <div class="tp-caption" data-x="center" data-y="bottom" data-speed="600" data-start="600">
            </div>
            <div class="tp-caption sfb fadeout dark-translucent-box" data-x="left" data-y="260" data-speed="500" data-start="1000" data-easing="easeOutQuad">
              <div class="large_white">Sporten en bewegen</div>
              <hr />
              <div class="medium_white">
                <!-- Sport is de speelgoedafdeling van het leven.<br /> -->
                Je lichaam bestaat voor 85% uit een bewegingsapparaat. Use it or lose it!
              </div>
            </div>
          </li>

          <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Eten">
            <img src="<%= asset_path 'slider/food-colors-2.jpg' %>" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover">
            <div class="tp-caption" data-x="center" data-y="bottom" data-speed="600" data-start="600">
            </div>
            <div class="tp-caption sfb fadeout text-right dark-translucent-box" data-x="right" data-y="260" data-speed="500" data-start="1000" data-easing="easeOutQuad">
              <div class="large_white">Eten</div>
              <hr />
              <div class="medium_white">
                Gezond en lekker eten is het mooiste wat er is, kies voor voeden in plaats van vullen.
              </div>
            </div>
            <div class="tp-caption sfb fadeout large_white tp-resizeme" data-x="left" data-y="330" data-speed="500" data-start="1300" data-easing="easeOutQuad">
            </div>
          </li>

          <li data-transition="fade" data-slotamount="1" data-masterspeed="500" data-saveperformance="on" data-title="Coaching">
            <img src="<%= asset_path 'slider/personal-development.jpg' %>" alt="slidebg1" data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover">
            <div class="tp-caption" data-x="center" data-y="bottom" data-speed="600" data-start="600">
            </div>
            <div class="tp-caption sfb fadeout text-left dark-translucent-box" data-x="left" data-y="270" data-speed="500" data-start="1000" data-easing="easeOutQuad">
              <div class="large_white">Coaching</div>
              <hr />
              <div class="medium_white">
                De waarheid is als een diamant die steeds van kleur verandert als je anders kijkt.
              </div>
            </div>
            <div class="tp-caption sfb fadeout large_white tp-resizeme" data-x="left" data-y="330" data-speed="500" data-start="1300" data-easing="easeOutQuad">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 animated fadeInLeft">
        <span class="text-center"><%= I18n.t("company.name") %> - <%= text_body_as_text :company_slogan %></span>
        <%= text_body :homepage_company_description %>
      </div>
    </div>
  </div>
</div>

<div class="container content-sm">
  <div class="row margin-bottom-30">
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-graduation-cap service-icon"></i>
        <div class="desc">
          <h4><a href="/opleiding">Opleiding</a></h4>
          <%= text_body :homepage_opleiding_description %>

          <%= render "list_for_page", url: "opleiding" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-line-chart service-icon"></i>
        <div class="desc">
          <h4><a href="/training">Training</a></h4>
          <%= text_body :homepage_training_description %>

          <%= render "list_for_page", url: "training" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="service">
        <i class="fa fa-user service-icon"></i>
        <div class="desc">
          <h4><a href="/vorming">Vorming</a></h4>
          <%= text_body :homepage_vorming_description %>

          <%= render "list_for_page", url: "vorming" %>
        </div>
      </div>
    </div>
  </div>
  <!-- End Service Blokcs -->

  <div class="headline"><h2>Binnenkort</h2></div>
  <div class="row margin-bottom-20">
    <% AgendaItem.unscoped.up_next.limit(4).each do |agenda_item| %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnails thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <small><i class="fa fa-calendar-o mr-05"></i><%= I18n.l agenda_item.starts_at.to_date, format: :long %></small>
            <!-- <img class="img-responsive" src="assets/img/main/img1.jpg" alt=""> -->
          </div>
          <%= link_to "lees meer +", agenda_item, class: "btn-more hover-effect" %>
        </div>
        <div class="caption">
          <h3>
            <%= link_to agenda_item.title, agenda_item, class: "hover-effect" %>
          </h3>
          <%= markdown(agenda_item.intro).html_safe %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <!-- Owl Clients v1 -->
  <div class="headline"><h2>Portfolio</h2></div>
  <div class="owl-clients-v1">
  </div>
  <!-- End Owl Clients v1 -->
</div>
