<% provide(:title, @content_page.title) %>

<div class="container mb-60">
  <div class="row">
      <div class="col-md-9">
        <h2><%= yield(:title) %></h2>

        <% unless @content_page.intro.blank? %>
        <div class="lead">
          <%= markdown(@content_page.intro).html_safe %>
        </div>
        <% end %>

        <%= markdown(@content_page.body).html_safe %>
      </div>

      <div class="col-md-3">

      </div>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render "sidebar_nav", url: @content_page.url.split('/')[0], current_page: @content_page %>

  <%= render "sidebar_agenda", current_page: @content_page %>
<% end %>
