<div class="col-sm-offset-3">
  <%= render 'shared/error_messages', object: f.object %>
</div>

<%= f.input :published_at, label: "Datum" %>
<%= f.input :title, label: "Titel" %>
<%= f.input :intro, label: "Inleiding" %>
<%= f.input :body, label: "Inhoud" %>
