<div class="col-sm-offset-3">
  <%= render 'shared/error_messages', object: f.object %>
</div>

<%= f.input :published_at, as: :string, placeholder: "dd-mm-jjjj", input_html: {data: {provide: "datepicker", "date-format": "dd-mm-yyyy", "date-today-highlight": true, "date-autoclose": true, "date-language": "nl"}} %>

<%= f.input :title %>
<%= f.input :intro %>
<%= f.input :body, hint: 'Gebruik <a href="https://en.support.wordpress.com/markdown-quick-reference/" target="_new">Markdown</a> bij het opmaken van de tekst'.html_safe %>

<%= f.input :user_id, collection: User.asc %>

<%= f.input :image, as: :file, hint: "Foto wordt groot bovenaan de pagina getoond. Tip: 1.000 tot 2.000 pixels breed, beperk de hoogte" %>
<% if f.object.image.present? %>
<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <%= image_tag f.object.image_url(:thumb_200) %>
  </div>
</div>
<% end %>
