<% provide(:title, "Blog artikel aanpassen") %>

<h1><%= yield(:title) %></h1>

<%= horizontal_form [:admin, @content_blog] do |f| %>
  <%= render 'fields', f: f %>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit, 'Bijwerken' %>
      <%= link_to 'Annuleren', admin_content_blogs_path, class: "btn-u btn-u-default" %>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <%= render "admin/content_images/sidebar_list", imageable: @content_blog %>
<% end %>
