<% provide(:title, "Blog artikel #{@content_blog.title}") %>

<div class="action_bar_right mt-10">
  <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_content_blog_path(@content_blog), class: "btn-u btn-u-default", title: "Aanpassen" %>
</div>

<h1>
  <%= yield(:title) %>
</h1>

<div class="row form-horizontal">
  <label class="col-sm-3 control-label">Datum</label>
  <p class="col-sm-9 form-control-static">
    <%= @content_blog.published_at %>
  </p>

  <label class="col-sm-3 control-label">Titel</label>
  <p class="col-sm-9 form-control-static">
    <%= @content_blog.title %>
  </p>

  <label class="col-sm-3 control-label">Inhoud</label>
  <div class="col-sm-9 form-control-static">
    <%= markdown(@content_blog.body).html_safe %>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render "admin/content_images/sidebar_list", imageable: @content_blog %>
<% end %>
