<% provide(:title, 'Tekst') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <div class="row">
    <div class="col-md-12">
      <%= horizontal_form [:admin, @content_text] do |f| %>
        <%= render 'fields', f: f %>

        <div class="form-actions col-sm-offset-3">
          <%= f.button :submit, 'Aanmaken' %>
          <%= link_to 'Annuleren', admin_content_texts_path, class: "btn btn-default-transparent" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
