<div class="col-sm-offset-3">
  <%= render 'shared/error_messages', object: f.object %>
</div>

<%= f.input :published_at, as: :string, placeholder: "dd-mm-jjjj", input_html: {data: {provide: "datepicker", "date-format": "dd-mm-yyyy", "date-today-highlight": true, "date-autoclose": true, "date-language": "nl"}} %>

<%= f.input :title %>
<%= f.input :intro %>
<%= f.input :body, hint: 'Gebruik <a href="https://en.support.wordpress.com/markdown-quick-reference/" target="_new">Markdown</a> bij het opmaken van de tekst'.html_safe %>
