<% provide(:title, 'Nieuwsbrief') %>

<h1><%= yield(:title) %></h1>

<%= horizontal_form [:admin, @content_newsletter] do |f| %>
  <%= render 'fields', f: f %>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit, 'Aanmaken' %>
      <%= link_to 'Annuleren', admin_content_newsletters_path, class: "btn-u btn-u-default" %>
    </div>
  </div>
<% end %>
