<% provide(:title, "Nieuwsbrief #{@content_newsletter.title}") %>

<div class="action_bar_right mt-10">
  <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_content_newsletter_path(@content_newsletter), class: "btn-u btn-u-default", title: "Aanpassen" %>
</div>

<h1>
  <%= yield(:title) %>
</h1>

<div class="row form-horizontal">
  <label class="col-sm-3 control-label">Datum</label>
  <p class="col-sm-9 form-control-static">
    <%= @content_newsletter.published_at %>
  </p>

  <label class="col-sm-3 control-label">Titel</label>
  <p class="col-sm-9 form-control-static">
    <%= @content_newsletter.title %>
  </p>

  <label class="col-sm-3 control-label">Inhoud</label>
  <div class="col-sm-9 form-control-static">
    <%= markdown(@content_newsletter.body).html_safe %>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render "admin/content_images/sidebar_list", imageable: @content_newsletter %>
<% end %>
