<%
menu_item = ContentPage.find_by(url: url)
menu_childs = ContentPage.where('url ILIKE ?', "#{url}/%").where(menu_type: ContentPage.menu_types[:menu_visible]).order(:order)
%>

<li class="<%= 'dropdown' if menu_childs.count > 0 %> <%= 'active' if controller.controller_path == 'content_pages' && !@content_page.nil? && @content_page.top_level_path == menu_item.url %>">
  <a href="/<%= menu_item.url %>">
    <%= menu_item.title_for_menu %>
  </a>
  <ul class="dropdown-menu">
  <% menu_childs.each do |menu_child| %>
    <li><a href="/<%= menu_child.url %>"><%= menu_child.title_for_menu %></a></li>
  <% end %>
  </ul>
</li>
